{# https://symfony.com/bundles/EasyAdminBundle/current/dashboards.html#content-page-template #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% trans_default_domain 'admin' %}

{% block content_title %}Dashboard{% endblock %}

{% block page_actions %}
{% endblock %}

{% block main %}
    <h2>Meilisearch</h2>
{% endblock %}
