# start with make start-dev
services:
  # http://localhost:61302/
  mailer:
    image: schickling/mailcatcher
    ports:
      - "1081:1080"
      - "1026:1025"
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:1080"]
      interval: 10s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer
    ports:
      - "8989:8080"
    healthcheck:
      test: ["CMD-SHELL", "curl --silent --fail http://127.0.0.1:8080/ || exit 1"]
      interval: 10s
      timeout: 30s
      retries: 10
