# start with make start-dev
services:
  # http://localhost:61302/
  mailer:
    image: schickling/mailcatcher
    ports:
      - "1081:1080"
      - "1026:1025"

  adminer:
    image: adminer
    ports:
      - "8989:8080"
