{% trans_default_domain 'email' %}

{% set url = url('security_reset_password', {token: user.lostPasswordToken}) %}

<p>Bonjour !</p>

<p>Cliquez sur le lien suivant pour réinitialiser votre mot de passe</p>

<p><a href="{{ url }}">Réinitialiser mon mot de passe</a></p>

<p>Ou copiez / coller le lien ci-dessous dans votre navigateur</p>

<p>{{ url }}</p>

<p>{{ brand }}</p>
