{% extends 'layout/base.html.twig' %}

{% set i18n_prefix = _self|i18n_prefix %}

{% block body %}
    <div class="">
        {% include 'components/layout/_title_3.html.twig' with {
            name: (i18n_prefix ~ '.title')|trans({'%name%': platformName})
        } %}
        {% include 'components/layout/_text.html.twig' with {
            text: (i18n_prefix ~ '.text')|trans
        } %}

        <div class="col-md-6 col-lg-4 col-xl-4 mx-lg-auto">
            <p class="text-gray fw-bolder fs-6 text-lg-center">
                {{ (i18n_prefix ~ '.membership')|trans }}
                <span class="text-gray fs-6 fw-normal">
                            {{ (i18n_prefix ~ '.membership.start')|trans }}
                    {{ lowOffer.actualPrice|format_currency(lowOffer.currency) }}
                        </span>
            </p>
        </div>
        <div class="d-grid col col-lg-4 mx-auto">
            <button
                type="button"
                class="btn btn-primary my-2 mb-4"
                data-bs-toggle="modal"
                data-bs-target="#offersModal"
            >
                <i class="bi bi-currency-euro"></i>
                {{ (i18n_prefix ~ '.button')|trans }}
            </button>
        </div>

        {% include 'components/group/_modal_offers.html.twig' with {
            offers: offers,
            prepare_path: 'app_platform_payment_prepare'
        } %}
    </div>
{% endblock %}
