<div class="d-flex flex-wrap flex-column flex-md-row justify-content-center align-items-center py-2 bg-light ">
    {% include 'components/footer/_logo.html.twig' with {menu} %}
    {% include 'components/footer/_links.html.twig' with links %}
    {% include 'components/footer/_social_network.html.twig' with icons %}
</div>
