$white: #FFFFFF;
$gray: #D4D9DF;
$gray-100: #F8F9FA;
$gray-900: #667080;
$blue-100: #CCE5FF;
$blue-200: #B8DAFF;
$blue-500: #0D6EFD;
$blue-900: #031633;
$red: #B02A37;
$green: #198754;
$yellow: #FFC107;
$gray-border: #CED4DA;

$dark: $blue-900;
$light: $gray-100;
$primary: $blue-500;

$heading-color: #152536;
$body-color: #6c757d;

//FONT
$bolder: 600;
$font-weight-bolder: $bolder;
