h1, h2, h3, h4, h5, h6 {
    color: $heading-color;
    font-weight: $font-weight-semibold;
}

h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48.41px;
}

h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 38.73px;
}

h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 33.89px;
}

h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
}

h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
}
