name: Build

on:
  workflow_call:

jobs:
  build-push-php:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - name: Build/Push
      uses: coopTilleuls/action-docker-build-push@v10
      with:
        IMAGE_NAME: ${{ vars.IMAGE_NAME_PHP }}
        BUILD_CONTEXT: .
        BUILD_TARGET: app_php
        REGISTRY_JSON_KEY: ${{ secrets.GITHUB_TOKEN }}
        IMAGE_REPOSITORY: ${{ vars.IMAGE_REPO }}
         
  build-push-caddy:
    # Same Dockerfile as php, with a build target which is after
    needs: [build-push-php]
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - name: Build/Push
      uses: coopTilleuls/action-docker-build-push@v10
      with:
        IMAGE_NAME: ${{ vars.IMAGE_NAME_CADDY }}
        BUILD_CONTEXT: .
        BUILD_TARGET: app_caddy
        REGISTRY_JSON_KEY: ${{ secrets.GITHUB_TOKEN }}
        IMAGE_REPOSITORY: ${{ vars.IMAGE_REPO }}
